<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    #showHead ("My Simple Webx Application")
    <script type="text/javascript" src="$backendContent.getURI('vendor/jquery/1.7.2/jquery.min.js')" ></script>
</head>

<body>

$screen_placeholder

</body>
</html>
