.rl-modal.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.rl-modal {
    position: fixed;
    background: #fff;
    z-index: 100000;
    width: 360px;
    padding-bottom: 30px;
    left: 50%;
    top: 50%;
    margin: -218px 0 0 -180px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.rl-modal-header {
    position: relative;
    padding: 0 20px;
}
.rl-modal-header h1 {
    font-size: 16px;
    line-height: 49px;
    height: 49px;
    color: #787d82;
    border-bottom: 1px solid #d0d6d9;
}
.rl-modal-header .active-title, .rl-modal-header span:hover {
    border-bottom: 1px solid #f01400;
    color: #f01400;
}
.rl-modal-header h1 span {
    float: left;
    width: 80px;
    text-align: center;
    height: 49px;
    line-height: 49px;
    cursor: pointer;
}
.rl-close {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: url(/static/img/nlogin.png) no-repeat 0 0;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}
.rl-modal-body {
    padding: 0 30px;
}
.rlf-tip-globle {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.rl-modal .ipt {
    width: 279px;
    padding: 9px 9px 9px 10px;
    background-color: #fff;
    border-color: #d0d6d9;
    box-shadow: 2px 0px 5px 0px #fff;
}
.ipt-email {
    background-position: 0 0;
}
.rlf-tip-wrap {
    clear: both;
}

.rlf-tip-wrap {
    font-size: 12px;
    height: 20px;
}
.pr {
    position: relative;
}
.rl-modal .ipt {
    width: 279px;
    padding: 9px 9px 9px 10px;
    background-color: #fff;
    border-color: #d0d6d9;
    box-shadow: 2px 0px 5px 0px #fff;
}
.ipt-pwd {
    background-position: 0 -48px;
}
.rl-modal .ipt-verify {
    margin-right: 10px;
    width: 120px;
    padding-left: 9px;
    background-image: none;
}

.rl-modal .ipt {
    width: 279px;
    padding: 9px 9px 9px 10px;
    background-color: #fff;
    border-color: #d0d6d9;
    box-shadow: 2px 0px 5px 0px #fff;
}
.verify-img-wrap {
    float: left;
    height: 40px;
    width: 70px;
}
.rl-modal .icon-refresh {
    color: #b5b9bc;
    font-size: 24px;
    display: inline-block;
    margin: 8px 0 0 10px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s ease-in;
}
.rlf-appendix {
    line-height: 1em;
    margin-bottom: 20px;
}
.rlf-appendix .rlf-autoin, .rlf-appendix .rlf-forget {
    color: #787d82;
}
.rl-modal .btn-red {
    background-color: #f01400;
    border-color: #f01400;
}
.btn-full {
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-family: "PingFang SC", Helvetica, "Helvetica Neue", 微软雅黑, Tahoma, Arial, sans-serif;
    text-align: center;
}
.rl-model-footer {
    padding: 20px 30px 4px;
}
.pop-login-sns {
    text-align: center;
    font-size: 14px;
}
.pop-login-sns span {
    color: #b5b9bc;
    display: inline-block;
    margin-top: 4px;
}
.pop-login-sns a {
    font-size: 14px;
    margin-left: 21px;
    height: 20px;
    line-height: 20px;
    color: #c8cdd2;
    transition: color .2s;
}
.erweima {
    background: url(/static/img/erweima.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.sendCode{
    position: absolute;
    right: 30px;
    height: 40px;
    line-height: 35px;
    padding: 0 15px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    cursor: pointer;
}